h1 {
    color: burlywood;
    text-align: center;
    background-color: black;
}

p {
    background-color: gray;
    text-align: center;
    font-size: 15px;
    color: antiquewhite;
}
img{
    display: block;
    margin: auto;
}