.body {
    background-image: url("/Image/minimal.png");
    /* background-repeat: no-repeat; */
    margin: 0 auto;
    display: block;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    color: burlywood;
    text-align: center;
    background-color: black;
}

p {

    text-align: center;
    font-size: 15px;
    color: rgb(228, 203, 170);
}

img {
    display: block;
    margin: auto;
    background-attachment: fixed;
}